@model IEnumerable<SalesWebMvc.Models.SalesRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"class="btn btn-dark">Create New</a>
</p>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <td class="col-lg-4 text-right">
                    <a asp-action="Edit" class="btn btn-dark btn-sm" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-dark btn-sm" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete"class="btn btn-dark btn-sm" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
